@import url('https://fonts.cdnfonts.com/css/belisa-plumilla-manual');

body {
        font-family: 'Belisa plumilla manual', sans-serif;
        letter-spacing: 1px;
        color: #EFDB84;
        background-color: #3c2916;
}