<!DOCTYPE html>
<html>

<head>
        <link href="https://fonts.cdnfonts.com/css/belisa-plumilla-manual" rel="stylesheet">
                
        <style>
                @import url('https://fonts.cdnfonts.com/css/belisa-plumilla-manual');

                body {
                        font-family: 'Belisa plumilla manual', sans-serif;
                        letter-spacing: 1px;
                        color: #EFDB84;
                        background-color: #3c2916;
                }

                div {
                        display: inline-block;
                }

                .left {
                        grid-area: left;
                }

                .right {
                        grid-area: right;
                }

                .grid-container {
                        display: grid;
                        grid-template-areas:
                                'left left right';
                        gap: 10px;
                }

                table {
                  border-collapse: collapse;
                  width: 80%;
                }

                td, th {
                  padding: 8px;
                }

                tr:nth-child(even){background-color: #f2f2f2;}

                tr:hover {background-color: #ddd;}

               	th {
                  padding-top: 12px;
                  padding-bottom: 12px;
                  text-align: left;
                  background-color: #76522c;
                }

                label {
                        padding: 12px 12px 12px 0;
                        display: inline-block;
                }

                input {
                        width: 100%;
                        padding: 12px;
                        resize: vertical;
                }

        </style>
</head>

<body class="grid-container">
        <div class="left">
                <form action="{{ url_for('gather_ingredients') }}" method="post">
                        <h1>Ingredients</h1>

                        <section>
                                <h2>Vegetables</h2>

                                <div><label for="asparagus">Asparagus:</label><input type="number" id="asparagus"
                                                name="asparagus" min="1" max="5"></div><br>

                                <div><label for="eggplant">Eggplant:</label><input type="number" id="eggplant"
                                                name="eggplant" min="1" max="5">
                                </div><br>

                                <div><label for="pepper">Pepper:</label><input type="number" id="pepper" name="pepper"
                                                min="1" max="5">
                                </div><br>

                                <div><label for="corn">Corn:</label><input type="number" id="corn" name="corn" min="1"
                                                max="5"></div><br>

                                <div><label for="dragon_fruit">Dragon Fruit:</label><input type="number"
                                                id="dragon_fruit" name="dragon_fruit" min="1" max="5"></div><br>

                                <div><label for="fig">Fig:</label><input type="number" id="fig" name="fig" min="1"
                                                max="5"></div><br>

                                <div><label for="garlic">Garlic:</label><input type="number" id="garlic" name="garlic"
                                                min="1" max="5">
                                </div><br>

                                <div><label for="potato">Potato:</label><input type="number" id="potato" name="potato"
                                                min="1" max="5">
                                </div><br>

                                <div><label for="red_cap">Red Cap:</label><input type="number" id="red_cap"
                                                name="red_cap" min="1" max="5">
                                </div><br>
                                <div><label for="blue_cap">Blue Cap:</label><input type="number" id="blue_cap"
                                                name="blue_cap" min="1" max="5">
                                </div><br>
                                <div><label for="green_cap">Green Cap:</label><input type="number" id="green_cap"
                                                name="green_cap" min="1" max="5"></div><br>
                                <div><label for="moon_shroom">Moon Shroom:</label><input type="number" id="moon_shroom"
                                                name="moon_shroom" min="1" max="5"></div><br>

                                <div><label for="pumpkin">Pumpkin:</label><input type="number" id="pumpkin"
                                                name="pumpkin" min="1" max="5">
                                </div><br>
                                <div><label for="toma_root">Toma Root:</label><input type="number" id="toma_root"
                                                name="toma_root" min="1" max="5"></div><br>
                                <div><label for="onion">Onion:</label><input type="number" id="onion" name="onion"
                                                min="1" max="5"></div><br>
                        </section>
                        <section>
                                <h2>Fruits</h2>

                                <div><label for="berries">Berries:</label><input type="number" id="berries"
                                                name="berries" min="1" max="5">
                                </div><br>

                                <div><label for="cave_banana">Cave Banana:</label><input type="number" id="cave_banana"
                                                name="cave_banana" min="1" max="5"></div><br>
                        </section>
                        <section>
                                <h2>Meats/Fishes</h2>


                                <div><label for="monster_meat">Monster Meat:</label><input type="number"
                                                id="monster_meat" name="monster_meat" min="1" max="5"></div><br>


                                <div><label for="eel">Eel:</label><input type="number" id="eel" name="eel" min="1"
                                                max="5"></div><br>

                                <div><label for="drumstick">Drumstick:</label><input type="number" id="drumstick"
                                                name="drumstick" min="1" max="5"></div><br>

                                <div><label for="fish_meat">Fish Meat:</label><input type="number" id="fish_meat"
                                                name="fish_meat" min="1" max="5"></div><br>
                                <div><label for="fish_morsel">Fish Morsel:</label><input type="number" id="fish_morsel"
                                                name="fish_morsel" min="1" max="5"></div><br>


                                <div><label for="frog_legs">Frog Legs:</label><input type="number" id="frog_legs"
                                                name="frog_legs" min="1" max="5">
                                </div><br>

                                <div><label for="leafy_meat">Leafy Meat:</label><input type="number" id="leafy_meat"
                                                name="leafy_meat" min="1" max="5"></div><br>

                                <div><label for="popperfish">Popperfish:</label><input type="number" id="popperfish"
                                                name="popperfish" min="1" max="5"></div><br>
                        </section>

                        <section>
                                <h2>Sweetener</h2>

                                <div><label for="honey">Honey:</label><input type="number" id="honey" name="honey"
                                                min="1" max="5"></div><br>
                                <div><label for="royal_jelly">Royal Jelly:</label><input type="number" id="royal_jelly"
                                                name="royal_jelly" min="1" max="5"></div><br>
                        </section>

                        <section>
                                <h2>Other</h2>

                                <div><label for="butterfly_wings">Butterfly Wings:</label><input type="number"
                                                id="butterfly_wings" name="butterfly_wings" min="1" max="5"></div><br>


                                <div><label for="butter">Butter:</label><input type="number" id="butter" name="butter"
                                                min="1" max="5"></div><br>
                                <div><label for="mandrake">Mandrake:</label><input type="number" id="mandrake"
                                                name="mandrake" min="1" max="5">
                                </div><br>

                                <div><label for="tallbird_egg">Tallbird Egg:</label><input type="number"
                                                id="tallbird_egg" name="tallbird_egg" min="1" max="5"></div><br>

                                <div><label for="eggs">Eggs:</label><input type="number" id="eggs" name="eggs" min="1"
                                                max="5"></div><br>

                                <div><label for="naked_nostrils">Naked Nostrils:</label><input type="number"
                                                id="naked_nostrils" name="naked_nostrils" min="1" max="5"></div><br>
                                <div><label for="kelp_fronds">Kelp Fronds:</label><input type="number" id="kelp_fronds"
                                                name="kelp_fronds" min="1" max="5"></div><br>

                                <div><label for="barnacle">Barnacle:</label><input type="number" id="barnacle"
                                                name="barnacle" min="1" max="5">
                                </div><br>


                        </section>

                        <input type="submit" value="Submit">

                </form>
        </div>

        <div class="right">
                <h1>Viable Recipes</h1>
                <div>
                        <table id="recipes">
                                <tr>
                                        <th>Name</th>
                                        <th>Priority</th>
                                        <th>Hunger</th>
                                        <th>Sanity</th>
                                        <th>Health</th>
                                        <th>Expiration</th>
                                        <th>Ingredients</th>
                                        <th>Cannot Contain</th>
                                </tr>
                                {% for recipe in data %}
                                <tr>
                                        <td>{{recipe.name}}</td>
                                        <td>{{recipe.priority}}</td>
                                        <td>{{recipe.hunger}}</td>
                                        <td>{{recipe.sanity}}</td>
                                        <td>{{recipe.health}}</td>
                                        <td>{{recipe.expiration}}</td>
                                        <td>{{recipe.ingredients}}</td>
                                        <td>{{recipe.no}}</td>
                                </tr>
                                {% endfor %}
                        </table>
                </div>
        </div>
</body>
</html>