<!DOCTYPE html>
<html>

<body>
    <head>
        <style>
            div {display: inline-block;}
        </style>
    </head>
    <form>
        <div><label for="collected_dust">Collected Dust:</label><input type="number" id="collected_dust"
                name="collected_dust" min="1" max="5"></div><br>
        <div><label for="meats">Meats:</label><input type="number" id="meats" name="meats" min="1" max="5"></div><br>
        <div><label for="eggs">Eggs:</label><input type="number" id="eggs" name="eggs" min="1" max="5"></div><br>
        <div><label for="cave_bananas">Cave Bananas:</label><input type="number" id="cave_bananas" name="cave_bananas"
                min="1" max="5"></div><br>
        <div><label for="barnacle">Barnacle:</label><input type="number" id="barnacle" name="barnacle" min="1" max="5">
        </div><br>
        <div><label for="vegetables">Vegetables:</label><input type="number" id="vegetables" name="vegetables" min="1"
                max="5"></div><br>
        <div><label for="kelp_frond">Kelp Frond:</label><input type="number" id="kelp_frond" name="kelp_frond" min="1"
                max="5"></div><br>
        <div><label for="birchnut">Birchnut:</label><input type="number" id="birchnut" name="birchnut" min="1" max="5">
        </div><br>
        <div><label for="twigs">Twigs:</label><input type="number" id="twigs" name="twigs" min="1" max="5"></div><br>
        <div><label for="forget-me-lots">Forget-Me-Lots:</label><input type="number" id="forget-me-lots"
                name="forget-me-lots" min="1" max="5"></div><br>
        <div><label for="leafy_meats">Leafy Meats:</label><input type="number" id="leafy_meats" name="leafy_meats"
                min="1" max="5"></div><br>
        <div><label for="ice">Ice:</label><input type="number" id="ice" name="ice" min="1" max="5"></div><br>
        <div><label for="butterfly_wings">Butterfly Wings:</label><input type="number" id="butterfly_wings"
                name="butterfly_wings" min="1" max="5"></div><br>
        <div><label for="salt_crystals">Salt Crystals:</label><input type="number" id="salt_crystals"
                name="salt_crystals" min="1" max="5"></div><br>
        <div><label for="rocks">Rocks:</label><input type="number" id="rocks" name="rocks" min="1" max="5"></div><br>
        <div><label for="nitre">Nitre:</label><input type="number" id="nitre" name="nitre" min="1" max="5"></div><br>
        <div><label for="potatoes">Potatoes:</label><input type="number" id="potatoes" name="potatoes" min="1" max="5">
        </div><br>
        <div><label for="garlics">Garlics:</label><input type="number" id="garlics" name="garlics" min="1" max="5">
        </div><br>
        <div><label for="dragon_fruit">Dragon Fruit:</label><input type="number" id="dragon_fruit" name="dragon_fruit"
                min="1" max="5"></div><br>
        <div><label for="figs">Figs:</label><input type="number" id="figs" name="figs" min="1" max="5"></div><br>
        <div><label for="frog_leg">Frog Leg:</label><input type="number" id="frog_leg" name="frog_leg" min="1" max="5">
        </div><br>
        <div><label for="koalefant_trunks">Koalefant Trunks:</label><input type="number" id="koalefant_trunks"
                name="koalefant_trunks" min="1" max="5"></div><br>
        <div><label for="corns">Corns:</label><input type="number" id="corns" name="corns" min="1" max="5"></div><br>
        <div><label for="fishes">Fishes:</label><input type="number" id="fishes" name="fishes" min="1" max="5"></div><br>
        <div><label for="fruits">Fruits:</label><input type="number" id="fruits" name="fruits" min="1" max="5"></div><br>
        <div><label for="frog_legs">Frog Legs:</label><input type="number" id="frog_legs" name="frog_legs" min="1"
                max="5"></div><br>
        <div><label for="honey">Honey:</label><input type="number" id="honey" name="honey" min="1" max="5"></div><br>
        <div><label for="royal_jelly">Royal Jelly:</label><input type="number" id="royal_jelly" name="royal_jelly"
                min="1" max="5"></div><br>
        <div><label for="sweetener">Sweetener:</label><input type="number" id="sweetener" name="sweetener" min="1"
                max="5"></div><br>
        <div><label for="mandrake">Mandrake:</label><input type="number" id="mandrake" name="mandrake" min="1" max="5">
        </div><br>
        <div><label for="naked_nostrils">Naked Nostrils:</label><input type="number" id="naked_nostrils"
                name="naked_nostrils" min="1" max="5"></div><br>
        <div><label for="kelp_fronds">Kelp Fronds:</label><input type="number" id="kelp_fronds" name="kelp_fronds"
                min="1" max="5"></div><br>
        <div><label for="dairy">Dairy:</label><input type="number" id="dairy" name="dairy" min="1" max="5"></div><br>
        <div><label for="monster_foods">Monster Foods:</label><input type="number" id="monster_foods"
                name="monster_foods" min="1" max="5"></div><br>
        <div><label for="moon_shroom">Moon Shroom:</label><input type="number" id="moon_shroom" name="moon_shroom"
                min="1" max="5"></div><br>
        <div><label for="red_cap">Red Cap:</label><input type="number" id="red_cap" name="red_cap" min="1" max="5">
        </div><br>
        <div><label for="blue_cap">Blue Cap:</label><input type="number" id="blue_cap" name="blue_cap" min="1" max="5">
        </div><br>
        <div><label for="green_cap">Green Cap:</label><input type="number" id="green_cap" name="green_cap" min="1"
                max="5"></div><br>
        <div><label for="popperfish">Popperfish:</label><input type="number" id="popperfish" name="popperfish" min="1"
                max="5"></div><br>
        <div><label for="pumpkin">Pumpkin:</label><input type="number" id="pumpkin" name="pumpkin" min="1" max="5">
        </div><br>
        <div><label for="toma_roots">Toma Roots:</label><input type="number" id="toma_roots" name="toma_roots" min="1"
                max="5"></div><br>
        <div><label for="onions">Onions:</label><input type="number" id="onions" name="onions" min="1" max="5"></div><br>
        <div><label for="eels">Eels:</label><input type="number" id="eels" name="eels" min="1" max="5"></div><br>
        <div><label for="eggplant">Eggplant:</label><input type="number" id="eggplant" name="eggplant" min="1" max="5">
        </div><br>
        <div><label for="peppers">Peppers:</label><input type="number" id="peppers" name="peppers" min="1" max="5">
        </div><br>
        <div><label for="tallbird_egg">Tallbird Egg:</label><input type="number" id="tallbird_egg" name="tallbird_egg"
                min="1" max="5"></div><br>
        <div><label for="drumstick">Drumstick:</label><input type="number" id="drumstick" name="drumstick" min="1"
                max="5"></div><br>
        <div><label for="eel">Eel:</label><input type="number" id="eel" name="eel" min="1" max="5"></div><br>
        <div><label for="lichen">Lichen:</label><input type="number" id="lichen" name="lichen" min="1" max="5"></div><br>
        <div><label for="asparaguses">Asparaguses:</label><input type="number" id="asparaguses" name="asparaguses"
                min="1" max="5"></div><br>
        <div><label for="butter">Butter:</label><input type="number" id="butter" name="butter" min="1" max="5"></div><br>
        <div><label for="berries">Berries:</label><input type="number" id="berries" name="berries" min="1" max="5">
        </div><br>
    </form>
</body>

</html>